**Question 1.** 
<br>Using Python script as a calculator, create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.

<center> ùê¥ = ùëù (1 + ùëü/ 100) ^ n </center>

In [3]:
n = 10
r = 5
p = 100

A = p*(1+(r/100))**n

print(A)

162.8894626777442

**Answer: b**

**Question 2**
<br>In a given string format operation, how will you print the given string.
<br>A = 10
<br>B = 20
<br>Str = "There are {} students in the class, with {} who play at least one sport."

In [5]:
a = 10
b = 20

string = "There are {} students in the class, with {} who play at least one sport."
print(string.format(b, a))

There are 20 students in the class, with 10 who play at least one sport.

**Answer: c**

**Question 3**
<br>In a given sample string, How do you print a double quoted string in between a regular string using the escape character?
<br>Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.

In [7]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

**Answer: a**

**Question 4**
<br>What will be the output of the following code?
<br>x = lambda a,b: a//b
<br>x(10,3)

In [9]:
x = lambda a,b: a//b
x(10,3)

3

**Answer: b**

**Question 5**
<br>What will be the output of the following code?
<br>A = 10
<br>B = 12
<br>print("Smaller") if A == B else print("Greater") if A < B else print("True")

In [10]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

**Answer: c**

**Question 6**
<br>What will be the output of the following code?

**Answer:**
**<BR>c. NameError: name 'numpy' is not defined**

**Question 7**
<br>Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

In [17]:
string = "Machine Learning"
string[slice(8,13,1)]

'Learn'

**Answer:** 
<br>_d. string[slice(8,13,1)]_

**Question 8**
<br>Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?

In [19]:
ls = []

p1 = 10

while p1 <= 25:
    ls.append(p1)
    p1 += 4

ls.index(18)

2

**Answer:** <br>
_b. 2_

**Question 9**
<br>Which of the following is true with respect to the below codes?

**Answer:**<br>
_a. num1 = num2_

**Question 10**
<br>A Python NameError exception is raised when: -

**Answer:**
_a. Trying to access a variable which has not been defined_

**Question 11**
<br>What type of exception will be raised for the code given below?

**Answer:**<br>
_c. ValueError_

**Question 12**
<br>A FileNotFoundError exception is raised by operating system errors when: -

**Answer:**
<br>_b. A file or directory is requested but does not exist in the working directory_

**Question 13**
<br>Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -

**Answer:**
<br>_b. Character_

**Question 14**
<br>Which of the following variable(s) are character data type?

**Answer:**
<br>_d. All of the above_

**Question 15**
<br>Choose the symbol/s that does not have the ability to convert any values to string?

**Answer:**
<br>_a. ( ) 
<br>c. {} 
<br>d. #_

**Question 16**
<br> Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:

Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

In [25]:
country = {"India":"Delhi", "China":"Beijing", "Japan":"Tokyo", "Qatar":"Doha", "France":"Marseilles"}

country

{'India': 'Delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Marseilles'}

**Answer:**

In [27]:
country['France'] = "Paris"

**Question 17**
<br>Create the tuples given below
<br>tuple_1 = (1,5,6,7,8)
<br>tuple_2 = (8,9,4)
<br>Identify which of the following code does not work on a tuple.

In [28]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

**Answer:**
_d. tuple_1[3] = 45_

**Question 18**
<br>How many elements in the following data structure?

In [34]:
S = {1,2,3,4,4,4,5,6}
S

{1, 2, 3, 4, 5, 6}

**Answer:** 6 elements

**Question 19**
<br>Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [49]:

def pythagorean_triplets(n):
    ls = []
    for a in range(1, n+1):
        for b in range(1, n+1):
            for c in range(1, n+1):
                if a**2 + b**2 == c**2:
                    ls.append([a, b, c])
                    
    return ls

In [50]:
pythagorean_triplets(10)

[[3, 4, 5], [4, 3, 5], [6, 8, 10], [8, 6, 10]]