In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=514393cbb82d7cc1c4b54a9f90c43b963173fb1ff88c7d34723f9d3812854e00
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
# Import necessary modules
from pyspark.sql import SparkSession

# Initialize a Spark session
spark = SparkSession.builder \
    .appName("Introduction to Spark") \
    .getOrCreate()

# Check the Spark version
print("Spark Version:", spark.version)

# Stop the Spark session
spark.stop()

24/06/02 17:23:06 WARN Utils: Your hostname, Jyants-MacBook-Air-2.local resolves to a loopback address: 127.0.0.1; using 10.103.162.22 instead (on interface en0)
24/06/02 17:23:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/02 17:23:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/02 17:23:07 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Spark Version: 3.5.1

In [3]:
# Create a Spark session
spark = SparkSession.builder \
    .appName("DataFrame Operations") \
    .getOrCreate()

# Create a DataFrame from a list of tuples
data = [("Alice", 34), ("Bob", 45), ("Cathy", 29)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

# Select a single column
df.select("Name").show()

# Filter rows
df.filter(df.Age > 30).show()

# Group by and aggregate
df.groupBy("Age").count().show()

# Stop the Spark session
spark.stop()

24/06/02 17:23:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
|Cathy| 29|
+-----+---+

+-----+
| Name|
+-----+
|Alice|
|  Bob|
|Cathy|
+-----+

+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
+-----+---+

+---+-----+
|Age|count|
+---+-----+
| 34|    1|
| 45|    1|
| 29|    1|
+---+-----+

In [4]:
import json

# Sample data
data = [
    {"name": "Alice", "age": 34, "city": "New York"},
    {"name": "Bob", "age": 45, "city": "San Francisco"},
    {"name": "Cathy", "age": 29, "city": "Los Angeles"}
]

# Write the sample data to a JSON file with each record in a new line
with open('sample_data.json', 'w') as f:
    for entry in data:
        json.dump(entry, f)
        f.write('\n')

In [5]:
# Import necessary modules
from pyspark.sql import SparkSession

# Initialize a Spark session
spark = SparkSession.builder \
    .appName("PySpark SQL and DataFrames with Sample Data") \
    .getOrCreate()

# Load the sample JSON file into a DataFrame
df = spark.read.json("sample_data.json")

# Show the DataFrame
df.show()

# Display the schema of the DataFrame
df.printSchema()

# Perform SQL operations on the DataFrame
df.createOrReplaceTempView("people")
result = spark.sql("SELECT * FROM people WHERE age > 30")
result.show()

# Additional DataFrame Operations

# Select a single column
df.select("name").show()

# Filter rows
df.filter(df.age > 30).show()

# Group by and aggregate
df.groupBy("city").count().show()

# Stop the Spark session
spark.stop()

24/06/02 17:23:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+---+-------------+-----+
|age|         city| name|
+---+-------------+-----+
| 34|     New York|Alice|
| 45|San Francisco|  Bob|
| 29|  Los Angeles|Cathy|
+---+-------------+-----+

root
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- name: string (nullable = true)

+---+-------------+-----+
|age|         city| name|
+---+-------------+-----+
| 34|     New York|Alice|
| 45|San Francisco|  Bob|
+---+-------------+-----+

+-----+
| name|
+-----+
|Alice|
|  Bob|
|Cathy|
+-----+

+---+-------------+-----+
|age|         city| name|
+---+-------------+-----+
| 34|     New York|Alice|
| 45|San Francisco|  Bob|
+---+-------------+-----+

+-------------+-----+
|         city|count|
+-------------+-----+
|  Los Angeles|    1|
|San Francisco|    1|
|     New York|    1|
+-------------+-----+

In [6]:
# Import necessary modules
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize a Spark session
spark = SparkSession.builder \
    .appName("PySpark SQL and DataFrames - Example 1") \
    .getOrCreate()

# Sample data
data = [("John", "Doe", 30, "M"),
        ("Jane", "Doe", 25, "F"),
        ("Sam", "Smith", 35, "M"),
        ("Sally", "Brown", 28, "F")]

# Define schema
columns = ["first_name", "last_name", "age", "gender"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
df.show()

# Display the schema of the DataFrame
df.printSchema()

# Select specific columns
df.select("first_name", "last_name").show()

# Filter rows based on a condition
df.filter(df.age > 30).show()

# Group by a column and count
df.groupBy("gender").count().show()

# Create a temporary view and run SQL queries
df.createOrReplaceTempView("people")
result = spark.sql("SELECT * FROM people WHERE age < 30")
result.show()

# Stop the Spark session
spark.stop()

24/06/02 17:23:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+----------+---------+---+------+
|first_name|last_name|age|gender|
+----------+---------+---+------+
|      John|      Doe| 30|     M|
|      Jane|      Doe| 25|     F|
|       Sam|    Smith| 35|     M|
|     Sally|    Brown| 28|     F|
+----------+---------+---+------+

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)

+----------+---------+
|first_name|last_name|
+----------+---------+
|      John|      Doe|
|      Jane|      Doe|
|       Sam|    Smith|
|     Sally|    Brown|
+----------+---------+

+----------+---------+---+------+
|first_name|last_name|age|gender|
+----------+---------+---+------+
|       Sam|    Smith| 35|     M|
+----------+---------+---+------+

+------+-----+
|gender|count|
+------+-----+
|     M|    2|
|     F|    2|
+------+-----+

+----------+---------+---+------+
|first_name|last_name|age|gender|
+----------+---------+---+------+
|      Jane|      Doe| 25|     F|
|     Sally|    Brown| 28|     F|
+----------+---------+---+------+

In [7]:
# Import necessary modules
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, sum

# Initialize a Spark session
spark = SparkSession.builder \
    .appName("PySpark SQL and DataFrames - Example 2") \
    .getOrCreate()

# Sample data for employees
employees = [("John", 1, 1000),
             ("Jane", 2, 1500),
             ("Sam", 1, 2000),
             ("Sally", 2, 2500)]

# Sample data for departments
departments = [(1, "HR"),
               (2, "Finance")]

# Define schemas
emp_columns = ["name", "dept_id", "salary"]
dept_columns = ["dept_id", "dept_name"]

# Create DataFrames
emp_df = spark.createDataFrame(employees, schema=emp_columns)
dept_df = spark.createDataFrame(departments, schema=dept_columns)

# Show the DataFrames
emp_df.show()
dept_df.show()

# Join the DataFrames
joined_df = emp_df.join(dept_df, on="dept_id", how="inner")
joined_df.show()

# Perform aggregations
joined_df.groupBy("dept_name").agg(
    avg("salary").alias("avg_salary"),
    sum("salary").alias("total_salary")
).show()

# Create a temporary view and run SQL queries
joined_df.createOrReplaceTempView("employee_dept")
result = spark.sql("SELECT dept_name, AVG(salary) AS avg_salary FROM employee_dept GROUP BY dept_name")
result.show()

# Stop the Spark session
spark.stop()

24/06/02 17:23:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+-----+-------+------+
| name|dept_id|salary|
+-----+-------+------+
| John|      1|  1000|
| Jane|      2|  1500|
|  Sam|      1|  2000|
|Sally|      2|  2500|
+-----+-------+------+

+-------+---------+
|dept_id|dept_name|
+-------+---------+
|      1|       HR|
|      2|  Finance|
+-------+---------+

+-------+-----+------+---------+
|dept_id| name|salary|dept_name|
+-------+-----+------+---------+
|      1| John|  1000|       HR|
|      1|  Sam|  2000|       HR|
|      2| Jane|  1500|  Finance|
|      2|Sally|  2500|  Finance|
+-------+-----+------+---------+

+---------+----------+------------+
|dept_name|avg_salary|total_salary|
+---------+----------+------------+
|       HR|    1500.0|        3000|
|  Finance|    2000.0|        4000|
+---------+----------+------------+

+---------+----------+
|dept_name|avg_salary|
+---------+----------+
|       HR|    1500.0|
|  Finance|    2000.0|
+---------+----------+

In [8]:
# Sample JSON data
data = [
    {"name": "Alice", "age": 29, "city": "New York"},
    {"name": "Bob", "age": 31, "city": "San Francisco"},
    {"name": "Cathy", "age": 25, "city": "Los Angeles"},
    {"name": "David", "age": 35, "city": "Chicago"}
]

# Create a DataFrame from the JSON data
df = spark.createDataFrame(data)

# Show the DataFrame
df.show()

AttributeError: 'NoneType' object has no attribute 'sc'